<h1>Login</h1>

<div>
    <form>
        <input name="username" type="text" placeholder="username" id="loginUsername">
        <input name="password" type="password" placeholder="password" id="loginPassword">
        <button id="loginBtn">Login!</button>
    </form>
</div>

<div>
    <form>
        <input name="username" type="text" placeholder="username" id="signUpUsername">
        <input name="password" type="password" placeholder="password" id="signUpPassword">
        <button id="signUpBtn">Sign Up!</button>
    </form>
</div>

<script src="/js/login.js"></script>