<h1>Login</h1>

<div style="border: solid;margin: 3%;width: 50%;display: flex;">
    <h4>Login:</h4>
    <form style="margin: 5%;"> 
        <input name="username" type="text" placeholder="username" id="loginUsername">
        <input name="password" type="password" placeholder="password" id="loginPassword">
        <button id="loginBtn">Login!</button>
    </form>
</div>

<div style="border: solid;margin: 3%;width: 50%;display: flex;">
    <h4>Sign Up:</h4>
    <form style="margin: 5%;">
        <input name="username" type="text" placeholder="username" id="signUpUsername">
        <input name="password" type="password" placeholder="password" id="signUpPassword">
        <button id="signUpBtn">Sign Up!</button>
    </form>
</div>

<script src="/js/login.js"></script>